CONFIG_ARM=y
CONFIG_ARCH_SUNXI=y
CONFIG_SF_DEFAULT_SPEED=40000000
CONFIG_DEFAULT_DEVICE_TREE="f1c100-business-card"
CONFIG_SPL=y
CONFIG_MACH_SUNIV=y
CONFIG_DRAM_CLK=156
CONFIG_DRAM_ZQ=0
# CONFIG_VIDEO_SUNXI is not set
CONFIG_SPL_SPI_SUNXI=y
CONFIG_USE_BOOTARGS=y
CONFIG_BOOTARGS="console=tty0 console=ttyS0,115200 rootwait root=/dev/mtdblock3 rw rootfstype=jffs2"
CONFIG_BOOTCOMMAND="sf probe 0; sf read ${kernel_addr_r} 0x110000 0x4f0000; sf read ${fdt_addr_r} 0x100000 0x10000; bootz ${kernel_addr_r} - ${fdt_addr_r}"
CONFIG_SPL_SPI_FLASH_MTD=y
CONFIG_SYS_MAXARGS=32
CONFIG_CMD_SQUASHFS=y
CONFIG_CMD_MTDPARTS=y
CONFIG_MTDIDS_DEFAULT="nor0=spi-flash"
CONFIG_MTDPARTS_DEFAULT="mtdparts=spi-flash:1m(uboot),0x10000(dtb),0x4f0000(kernel),0xa00000(rootfs)"
CONFIG_CMD_UBI=y
# CONFIG_CMD_UBIFS is not set
# CONFIG_ENV_IS_IN_FAT is not set
# CONFIG_ENV_IS_IN_SPI_FLASH is not set
CONFIG_MTD=y
CONFIG_DM_MTD=y
CONFIG_USE_SYS_MAX_FLASH_BANKS=y
CONFIG_SPI_FLASH_BAR=y
CONFIG_SPI_FLASH_WINBOND=y
CONFIG_SPI_FLASH_XTX=y
# CONFIG_SPI_FLASH_USE_4K_SECTORS is not set
CONFIG_SPI_FLASH_MTD=y
CONFIG_SPI=y
CONFIG_LZO=y
